<footer class='footer'>
    <div class='container'>
        <div class='footer__inner'>
            <a href="" class="footer__logo">
                <img class="footer__logo-img" src="img/logo.png" alt="">
                <span class="footer__logo-text">Аренда квартир <br> в Туле</span>
            </a>
            <div class="footer__links">
                <a href="" class="footer__link">На главную</a>
                <a href="" class="footer__link">Цены</a>
                <a href="" class="footer__link">Квартиры</a>
                <a href="" class="footer__link">Контакты</a>
                <a href="" class="footer__link">Условия проживания</a>
            </div>
            <div class="footer__contacts">
                <a href="tel:+74872000000" class="footer__phone">
                    <img src="img/phone.svg" alt="">
                    <span>+7 (4872) 00-00-00</span>
                </a>
                <div class="footer__socials">
                    <a href="" class="footer__socials-item">
                        <img src="img/telegram.png" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/whatsapp.png" alt="">
                    </a>
                </div>
            </div>
            <div class="footer__by">
                <img src="img/by_icon.png" alt="">
                <span>
                    <a href="">Разработка корпоративного сайта</a>
                    интернет-агентство BREVIS</span>
            </div>
        </div>
    </div>
</footer>

<button class="scroll-up btn btn-red">
    <img src="img/up.svg" alt="">
</button>


<div class="socials">
    <a href="" class="socials__item socials__item--telegram">
        <img src="img/social.svg" alt="">
    </a>
    <a href="" class="socials__item socials__item--whatsapp">
        <img src="img/social2.svg" alt="">
    </a>
</div>