<div class='container'>
    <div class='recomend__items'>
        <a href="" class="recomend__item" style="background-image: url(img/recomend.webp);">
            <div class="recomend__item-icon">
                <img src="img/recomend_icon.png" alt="">
            </div>
            <div class="recomend__item-title">Где вкусно покушать?
            </div>
        </a>
        <a href="" class="recomend__item" style="background-image: url(img/recomend2.webp);">
            <div class="recomend__item-icon">
                <img src="img/recomend_icon2.png" alt="">
            </div>
            <div class="recomend__item-title">Интересные места Тулы</div>
        </a>
    </div>
</div>