$font1:'Montserrat',
sans-serif;
$black: #000;
$primary: #ff6b00;
$green:#70c560;
// 
$shadow:100px 100px 80px 0px rgba(0, 0, 0, .07),
42px 42px 33px 0px rgba(0, 0, 0, .05),
12px 12px 18px 0px rgba(0, 0, 0, .04),
13px 13px 10px 0px rgba(0, 0, 0, .04),
7px 7px 5px 0px rgba(0, 0, 0, .03),
3px 3px 2px 0px rgba(0, 0, 0, .02);